:root {
    --frame-image-width : 105px;
    --led-offset:12px;
}

#locale-title {
    font-size: 1.5em;
}
#header {
    margin: 0.75em;
}

footer {
    display:    block;
    text-align: center;
}

body {
    background: #bccad6;
    padding: 0.5em;
    font-family: "Helvetica", serif;
}



.all-content {
    background: #8d9db6;
    border-radius: 20px;
    font-size: 1em;
    transition: all 0.2s;
    text-align: center;
    padding: 5px 5px 5px;
}


.flex-container {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-content :flex-start;
    align-items: stretch;
}

.flex-vertical {
    display:flex;
    flex-direction:column;
    margin: 0.75em;
    min-width: 450px;
    background: #667292;
    border-radius: 1.5em;
    flex:auto;
}
#sensor-flex-container {
    display: flex;
}

#sensor-list {
    flex: initial;
    min-width: 230px;
    margin: 0.75em;
    background: #667292;
    border-radius: 1.5em;
    flex-grow:1;
}

#sensor-map {
    flex: initial;
    margin: 0.75em;
    background: #667292;
    border-radius: 1.5em;
    flex-grow: 1;
    min-width: calc(var(--frame-image-width) + 2* var(--led-offset) + 1.5em);
}
#sensor-map {
    position:relative;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    font-size: 0.75em;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 50%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {

    visibility: visible;
}

.frame {
    z-index: 0;
    position:relative;
    height: var(--frame-image-width);
    width:  var(--frame-image-width);
    margin: var(--led-offset) var(--led-offset) 2em;

}
.frame-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.sensors {
    visibility: hidden;
}
.s0-m {
    position:absolute;
    left: 0;
    top: 0;
}
.s1-m {
    position: absolute;
    right: calc(-2* var(--led-offset));
    top: 0;
}
.s2-m {
    position: absolute;
    top: var(--frame-image-width);
    left: 0;
}
.s3-m {
    position: absolute;
    top: var(--frame-image-width);
    right: calc(-2* var(--led-offset));
}

#highcharts-dblookup-flex {
    flex : auto;
    flex-grow:6;
    margin: 20px;
    min-height: 220px;
}

#highcharts-live-flex {
    flex : auto;
    flex-grow:6;
    margin: 20px;
    min-height:220px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
}
