.red {color:red}
.orange {color:orange}
.green {color:green}

:root {
    --offset_top: 100px;
    --offset_left: 100px;
    --led_offset_top : calc(var(--offset_top) - 75px);
}




body {
    background: white;
    padding: 20px;
    font-family: "Comic Sans MS";
}

.sensor_container {
    background: cornflowerblue;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    transition: all 0.2s;
    margin: 0 auto;
    width: 700px;
    padding: 20px 20px 20px;
}

#header {
    padding-bottom: 50px;
}


#sensor_flex {
    display: flex;
    height : 1200px;
    justify-content: space-evenly;
}

#sensor_list {
    flex: 1;
    justify-content: center;
    padding:auto;
    max-width: 300px;
}

.spacer {
    flex-grow: 1;
}

#sensor_map {
    flex: 1;
}

#locale-title {
    font-size: 30px;
}

button {
    background: #0084ff;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    font-size: 15px;
    color: #fff;
}

#banner-message.alt {
    background: #0084ff;
    color: #fff;
    margin-top: 40px;
    width: 200px;
}

#banner-message.alt button {
    background: #fff;
    color: #000;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: block;
//border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.sensor0 {
    display: flex;
}

.sensor1 {
    display: flex;
}

.sensor2 {
    display: flex;
}

.sensor3 {
    display: flex;
}

.sensor4 {
    display: flex;
}

.sensor5 {
    display: flex;
}

.sensor6 {
    display: flex;
}

.sensor7 {
    display: flex;
}

.sensor8 {
    display: flex;
}

.sensor9 {
    display: flex;
}

.sensor10 {
    display: flex;
}

.sensor11 {
    display: flex;
}

.sensor12 {
    display: flex;
}

.sensor13 {
    display: flex;
}

.sensor14 {
    display: flex;
}

.sensor15 {
    display: flex;
}

.sensor16 {
    display: flex;
}

.sensor17 {
    display: flex;
}

.sensor18 {
    display: flex;
}

.sensor19 {
    display: flex;
}

.sensor20 {
    display: flex;
}

.sensor21 {
    display: flex;
}

.sensor22 {
    display: flex;
}

.sensor23 {
    display: flex;
}

.sensor24 {
    display: flex;
}

.sensor25 {
    display: flex;
}

.sensor26 {
    display: flex;
}

.sensor27 {
    display: flex;
}

.sensor28 {
    display: flex;
}

.sensor29 {
    display: flex;
}

#sensor_map {
    position:relative;
}
#sensor0_ind {
    top:  calc(var(--led_offset_top) + 0px);
    left: 0px;
    position: absolute;
    z-index: 2;

}
#sensor1_ind {
    top:  calc(var(--led_offset_top) + 0px);
    left: 200px;
    position:absolute;
    z-index: 2;
}
#sensor2_ind {
    top:  calc(var(--led_offset_top) + 200px);
    left: 0px;
    position: absolute;
    z-index: 2;

}
#sensor3_ind {
    top:  calc(var(--led_offset_top) + 200px);
    left: 200px;
    position:absolute;
    z-index: 2;
}
#sensor4_ind {
    top:  calc(var(--led_offset_top) + 250px);
    left: 0px;
    position: absolute;
    z-index: 2;

}
#sensor5_ind {
    top:  calc(var(--led_offset_top) + 250px);
    left: 200px;
    position:absolute;
    z-index: 2;
}
#sensor6_ind {
    top:  calc(var(--led_offset_top) + 450px);
    left: 0px;
    position: absolute;
    z-index: 2;

}
#sensor7_ind {
    top:  calc(var(--led_offset_top) + 450px);
    left: 200px;
    position:absolute;
    z-index: 2;
}
#sensor8_ind {
    top:  calc(var(--led_offset_top) + 500px);
    left: 0px;
    position: absolute;
    z-index: 2;

}
#sensor9_ind {
    top:  calc(var(--led_offset_top) + 500px);
    left: 200px;
    position:absolute;
    z-index: 2;
}
#sensor10_ind {
    top:  calc(var(--led_offset_top) + 700px);
    left: 0px;
    position: absolute;
    z-index: 2;

}
#sensor11_ind {
    top:  calc(var(--led_offset_top) + 700px);
    left: 200px;
    position:absolute;
    z-index: 2;
}
#sensor12_ind {
    top:  calc(var(--led_offset_top) + 750px);
    left: 0px;
    position: absolute;
    z-index: 2;

}
#sensor13_ind {
    top:  calc(var(--led_offset_top) + 750px);
    left: 200px;
    position:absolute;
    z-index: 2;
}
#sensor14_ind {
    top:  calc(var(--led_offset_top) + 950px);
    left: 0px;
    position: absolute;
    z-index: 2;

}
#sensor15_ind {
    top:  calc(var(--led_offset_top) + 950px);
    left: 200px;
    position:absolute;
    justify-content: left;
    z-index: 2;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
}

#frame1 {
    top:calc(var(--offset_top) + 750px);
    left:12px;
    z-index: 0;
    position:absolute;

}
#frame2 {
    top:calc(var(--offset_top) + 500px);
    left:12px;
    z-index: 0;
    position:absolute;

}
#frame3 {
    top:calc(var(--offset_top) + 250px);
    left:12px;
    z-index: 0;
    position:absolute;

}
#frame4 {
    top:calc(var(--offset_top) + 0px);
    left:12px;
    z-index: 0;
    position:absolute;

}
